extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="/img/nosotros.jpg", alt="Imagen nosotros" class='img-fluid')
            .col-md-7
                h1.text-center= pagina
                blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra eros nunc. Duis sollicitudin ac lectus vel blandit. Sed volutpat venenatis dolor ac faucibus. Pellentesque mi lacus, tristique vitae neque non, venenatis auctor quam. Integer et ante scelerisque, molestie eros et, mollis lorem. Fusce commodo interdum nunc, nec consequat turpis lobortis in.

                p tempor condimentum neque, non varius enim vulputate eu. Etiam ut convallis odio, in mattis massa. In blandit facilisis est, dapibus ultricies dolor placerat eget. Maecenas at viverra odio. Mauris fringilla sem a porta facilisis. Donec sed scelerisque leo. Vivamus a gravida lectus, eu commodo quam. Nam sit amet facilisis massa, porttitor ultrices sapien.

                p bibendum mauris in neque pulvinar facilisis at eu lacus. Nullam ornare quis lorem eget ultrices. Vivamus cursus laoreet quam, eu sagittis justo ullamcorper a. Donec malesuada porttitor interdum. Sed vitae suscipit orci. 

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad" class='img-fluid mb-4')
                    h2.mb-4 Seguridad
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam pariatur soluta odit, commodi repudiandae cupiditate recusandae quis sed nulla libero earum nesciunt optio aliquid autem ipsum molestiae quasi. Dolores, quam?
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="Icono destinos" class='img-fluid mb-4')
                    h2.mb-4 Destinos
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam pariatur soluta odit, commodi repudiandae cupiditate recusandae quis sed nulla libero earum nesciunt optio aliquid autem ipsum molestiae quasi. Dolores, quam?
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="Icono precios" class='img-fluid mb-4')
                    h2.mb-4 Precios
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam pariatur soluta odit, commodi repudiandae cupiditate recusandae quis sed nulla libero earum nesciunt optio aliquid autem ipsum molestiae quasi. Dolores, quam?